*
{    
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(36, 34, 34);
}
div
{
    background-color: rgb(60, 58, 58);
}
h2
{    
    margin-bottom: 5%;
    margin-top: 7%;
    color: red;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    color: white;
    text-align: center;
}
p{
    text-align: center;
    color: white;
}
li{
    list-style: none;
    color: white;
}
.contenedor_principal
{
    margin: 0.5% 25% 0 25%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
}
.avatar
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    border: 2px solid #d33d3d;
}
.perfil
{
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
}
.perfil .nombre
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.perfil .nombre h2 {
    text-align: start;
}
.perfil .direccion {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre_mi
{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sobre_mi .texto_Sobremi{
    width: 75%;
    height: 50%;
    margin: 0 auto;
}

.educacion
{
    grid-column: 2/3;
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.Contenedor_referencia{
    width: 100%;
    height: 80%;
}
.referencia
{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50%;
    margin-top: 10%;
}
